apiVersion: v1
kind: Service
metadata:
  labels:
    name: {{ pgo_cluster_name }}-external
    pg-cluster: {{ pgo_cluster_name }}
  name: {{ pgo_cluster_name }}-external
  namespace: pgo
spec:
  ports:
  - name: postgres
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    pg-cluster: {{ pgo_cluster_name }}
    role: master
  sessionAffinity: None
  type: LoadBalancer
